.landing-wrapper {
  background-color: var(--color-surface);
  color: var(--color-text);
  margin-top: 30px;
}

.landing-paragraph {
  padding: 20px;
  text-align: center;
}

.landing-sites-container {
  padding: 0 40px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.landing-icon-wrapper {
  padding: 0 3px 0 0;
}

.landing-authors:hover {
  color: var(--color-text-active);
}

.landing-authors:hover .githubMark {
  fill: #f73636;
}

@media (max-width: 380px) {
  .landing-sites-container {
    grid-template-columns: 100%;
  }
}