.sitePicker {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #40393c;
  position: fixed;
  box-sizing: border-box;
  padding: 20px 10px 0 10px;
  height: 100vh;
  width: 280px;
  top: 0;
  left: 0;
  z-index: 9;
}

.sitePickerAppName {
  color: white;
  width: 100%;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 1.2em;
  letter-spacing: 5px;
}
