.hamburgerMenu {
  background: #BB4430;
  display: inline-block;
  border: none;
  position: fixed;
  right: 10px;
  top: 14px;
  padding: 8px;
  border-radius: 100px;
  color: white;
  -webkit-box-shadow: 0px 0px 6px 2px rgba(28,28,28,0.55);
  -moz-box-shadow: 0px 0px 6px 2px rgba(28,28,28,0.55);
  box-shadow: 0px 0px 6px 2px rgba(28,28,28,0.55);
}

.hamburgerBar {
  width: 22px;
  height: 3px;
  margin: 3px 0;
  background-color: white;
  z-index: 1000;
}