.meme-wrapper {
  background-color: var(--color-surface);
  color: var(--color-text);
  margin: 0 0 30px 0;
}

.memeWrapper:last-child {
  margin-bottom: 0
}

.memes-page-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.memes-page-name {
  color: var(--color-text);
  text-transform: uppercase;
  text-decoration: none;
  background: var(--color-primary);
  padding: 5px 20px;
  display: inline-block;
  border: none;
  margin: 10px 0;
  width: 100%;
  text-align: center;
  letter-spacing: 1.5px;
}