.meme {
  margin: 0 0 30px 0;
  background-color: #40393c;
}

.memeBlock {
  display: block;
  padding: 4px;
  color: #e3e3e3;
  margin: 4px 0;
}

.comments {
  margin-top: 0;
  font-size: 0.86em;
}

.memeLink:hover {
  color: white;
}