.meme {
  margin: 0 0 30px 0;
  background-color: #40393c;
}

.memeBlock {
  display: block;
  padding: 4px 6px;
  color: #e3e3e3;
  margin: 4px 0;
}

.memeFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0;
  font-size: 0.86em;
}

.memeLink {
  color: #e3e3e3;
}

.memeLink:hover {
  color: white;
}