:root {
  --color-background: #231F20;
  --color-surface: #40393c;
  --color-text: #eee;
  --color-text-active: #fff;
  --color-primary: #bb4430;
  --color-secondary: #fff;

  --color-error: #bb4430;
  --color-error-text: #eee;
  --color-error-button: #eee;
  --color-error-button-text: #333;
}

body {
  background-color: var(--color-background);
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  margin: auto;
  width: 100%;
  padding: 12px 12px 40px 12px;
  max-width: 500px;
  box-sizing: border-box;
}

.app-name {
  color: var(--color-text);
  width: 100%;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 1.2em;
  letter-spacing: 5px;
}

.app-name-big {
  font-size: 1.8em;
}

.button {
  color: var(--color-text); 
  text-transform: uppercase;
  text-decoration: none;
  background: var(--color-primary);
  padding: 12px;
  display: inline-block;
  border: none;
  margin: 5px;
}

.button:hover {
  color: var(--color-text-active);
  border-bottom: 2px solid white;
  padding: 12px 12px 10px 12px;
}

.nextPageWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end
}

@media (min-width: 800px) {
  .wrapper {
    /* center the wrapper with sitePicker shown */
    margin-left: calc(50vw - 250px + 140px);
  }
}

.shadow {
  -webkit-box-shadow: 0px 0px 6px 2px rgba(28,28,28,0.55);
  -moz-box-shadow: 0px 0px 6px 2px rgba(28,28,28,0.55);
  box-shadow: 0px 0px 6px 2px rgba(28,28,28,0.55);
}

a {
  color: var(--color-text);
}

a:hover {
  color: var(--color-text-active);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}