.sideBar {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #40393c;
  position: fixed;
  box-sizing: border-box;
  padding: 20px 10px 0 10px;
  height: 100vh;
  width: 280px;
  top: 0;
  left: 0;
  z-index: 9;
}

.sideBarBackground {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(26, 26, 26, 0.8);
}

@media (min-width: 800px) {
  .sideBarBackground {
    display: none;
  }
}